<div class="main">
    <div class="layer"></div>
    <div class="menu">
        <div class="logo">
            <img src="../../assets/logo.png"
                alt="">
                <p>BK Bot.</p>
        </div>
        <div class="lang">
            ENG
        </div>
    </div>
    <div class="container">
        <div class="right">
            <div class="container">
                <div class="face">
                    <!-- <img src="../../assets/{{img}}" alt=""> -->
                    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/tiger_emoji_icon_png_large.png?v=1480481019"
                        alt="">
                </div>
                <div class="message">
                    <!-- <p>{{speechData}}</p> -->
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sint autem aliquid tempora quidem ipsa asperiores error, eveniet impedit, veritatis voluptatibus facilis facere saepe dignissimos, consequuntur nesciunt doloremque dolor pariatur!</p>
                </div>

            </div>
        </div>
        <div class="left">
            <div class="container">
                <div class="chatbox">
                    <div class="chatlogs" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div *ngFor="let item of chatList">
                            <div class="chat self" *ngIf="item.sender == 'user'">
                                <div class="user-photo"><img src="../../assets/student.png" alt=""></div>
                                <p class="chat-message"> {{item.message}}</p>
                            </div>
                            <div class="chat friend" *ngIf="item.sender == 'bot'">
                                <div class="user-photo"><img src="../../assets/android.png" alt=""></div>
                                <p class="chat-message"> {{item.message}}</p>
                            </div>
                        </div>


                    </div>
                    <div class="chat-form">
                        <input type="text" [(ngModel)]="input"  (keyup.enter)="send()">
                        <button name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie"
                            (click)="activateSpeechSearchMovie()">
                            <img src="../../assets/mic.png" alt="">
                            
                        </button>
                        <button (click)="send()">Send</button>


                    </div>
                </div>
            </div>
        </div>
        <div class="listening" [ngClass]="{disable: listening == true}">
            <p>I'm listening</p>
            <button (click)="stop()">Cancel</button>
        </div>
    </div>
</div>