<div class="main">
    <div class="layer"></div>
    <div class="menu">
        <div class="logo">
            <img src="../../assets/logo.png" alt="">
            <ul>
                <li>
                    BK BOT.
                </li>
                <li>
                    Bach Khoa University
                </li>
            </ul>
        </div>
        <div class="lang">

        </div>
    </div>
    <div class="container">
        <div class="right">
            <div class="container">
                <div class="face">
                    <img src="../../assets/{{currentImg.talking}}" alt="" *ngIf="isSpeaking === false">
                    <img src="../../assets/{{currentImg.waiting}}" alt=""  *ngIf="isSpeaking === true">
                    <select  [(ngModel)]="currentImg">
                        <option *ngFor="let item of gifImages" [ngValue]="item" >{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="container">
                <div class="chatbox">
                    <div class="chatlogs" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div *ngFor="let item of chatList" [@fadeInOut]>
                            <div class="chat self" *ngIf="item.sender == 'user'">
                                <div class="user-photo"><img src="../../assets/student.png" alt=""></div>
                                <p class="chat-message"> {{item.message}}</p>
                            </div>
                            <div class="chat friend" *ngIf="item.sender == 'bot'">
                                <div class="user-photo"><img src="../../assets/android.png" alt=""></div>
                                <div class="chat-message" [innerHTML]="item.message | linky"> </div>
                            </div>
                        </div>
                        <div class="chat friend" *ngIf="loading == true">
                            <div class="user-photo"><img src="../../assets/android.png" alt=""></div>
                            <div class="chat-message"><img src="../../assets/loading.gif" alt=""
                                    style="width: 20px;height: 15px;"> </div>
                        </div>
                        <!-- <div class="chat self" *ngIf="typing == true">
                            <div class="user-photo"><img src="../../assets/android.png" alt=""></div>
                            <div class="chat-message" ><img src="../../assets/loading2.gif" alt="" style="width: 20px;height: 15px;"> </div>
                        </div> -->
                    </div>
                    <div class="chat-form">
                        <input type="text" [(ngModel)]="input" (keyup.enter)="send()" (focus)="typing = true"
                            (focusout)="typing = false">
                        <button name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie"
                            (click)="activateSpeechSearchMovie()">
                            <img src="../../assets/mic.png" alt="">

                        </button>
                        <button (click)="send()">Send</button>


                    </div>
                </div>
            </div>
        </div>
        <div class="listening" [ngClass]="{disable: listening == true}">
            <p>I'm listening</p>
            <button (click)="stop()">Cancel</button>
        </div>
        <div class="listening" [ngClass]="{disable: isSpeaking == true}">
            <p>Speaking...</p>
            <button (click)="stopSpeaking()">Cancel</button>
        </div>
    </div>
</div>